<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule_Detail</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">

                    <span style="margin-top: 30px;" class="back-text-dark">Schedule</span>
                </div>
            </div>
        </div>
    </div>
    <table style="margin-left:140px; margin-top:350px;width: 1000px;" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Khóa </th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời gian học</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Tiền học</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="schedule ;else noSchedule">
                <th scope="row">{{schedule.id}}</th>
                <th>{{schedule.name}}</th>
                <td>5:30 PM</td>
                <td>{{schedule.starday}}</td>
                <td>3 thang</td>
                <td>{{schedule.price}}</td>
            </tr>

        </tbody>

    </table>
    <button style="margin-left: 500px; margin-top: 50px;" type="button" class="btn btn-primary" value="register">Đăng ký</button>
    <button style="margin-left: 40px; margin-top: 50px;" type="button" class="btn btn-warning" (click)="onBackToList() " value=" cancel ">Hủy</button>
    <!-- <button style=" margin-top: 50px; " type="button " class="btn btn-default " (click)="onBackToList() ">Back To List</button> -->
    <ng-template #noSchedule>
        <h1>
            This schedule has been deleted
        </h1>
    </ng-template>
</body>

</html>