<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
    <app-navbar></app-navbar>

    <section style="z-index:-2" class="section bg-light element-animate">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Our Schedule</h2>
                        <span class="back-text-dark">Schedule</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row no-gutters">
                <div class="col-md-6 ">
                    <tr *ngFor="let item of schedules" [routerLink]="['/schedules',item.id]">
                        <div class="sched d-block d-lg-flex">
                            <div class="bg-image order-2" style="background-image: url('{{item.img}}');"></div>
                            <!-- '../../../../assets/img/img/gym4.jpg' -->
                            <div class="text order-1">
                                <h3>
                                    {{item.name}}
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                                <p class="sched-time">
                                    <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                                    <span><span class="fa fa-calendar"></span> {{item.starday}}</span>
                                    <br>
                                </p>
                                <p>
                                    <a href="/Fontend/schedule/schedule_detail.jsp?courseID=<%=list.get(0).getCourseID() %>" class="btn btn-primary btn-sm">Join from {{item.price | currency: 'VND' : true}}vnd</a>
                                </p>

                            </div>

                        </div>


                    </tr>
                </div>


            </div>











        </div>


    </section>

</body>

</html>