<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

    <title>Login</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

    <div class="background" style=" background-image: url('./../../assets/img/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="form">

                <img src="../../../../assets/img/img/user_128x117.png" class="logo">
                <br>
                <span class="login">LOG IN </span>
                <br>
                <input type="text" placeholder="username" class="username" id="username" autocomplete="off">
                <br> <br>
                <input type="password" placeholder="password" class="password" id="password">
                <br> <br>
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"> <label class="label-checkbox100" for="ckb1"> Remember me </label>
                </div>
                <input type="submit" value="Login" class="button">

                <div class="text-center p-t-90">
                    <a class="txt1" [routerLink]="['/forgotpass']"> Forgot Password? </a>
                </div>
                <div class="text-center p-t-91">
                    <a class="txt1" [routerLink]="['/signup']"> Sign Up </a>
                    <br>

                </div>







            </form>
        </div>
    </div>



</body>

</html>